<!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>We deals with all of these car companies mentioned below.</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client1.jpg" height=200 width=300 alt="Honda">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client2.jpg" height=200 width=300 alt="Hyundai">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client3.jpg" height=200 width=300 alt="Suzuki">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client4.jpg" height=200 width=300  alt="ford">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client5.jpg" height=200 width=300  alt="Toyota">
          <img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/clients/Client6.jpg" height=200 width=300  alt="Jeep">
        
        </div>

      </div>
    </section><!-- #clients -->
