    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="./assets/REPAIR.png" height=300 width=300 alt="">
            <br/>
            <h1 class="scrollto"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> Dr.<span>Car</span></b></h1>
          </div>

          <div class="col-lg-6 content">
            <h2>The Dr.CAR services </h2>
            <h3>We beleive in doing the finest work . we care for your car as you do.
                Get you car service done anywhere , anytime. Be at ease because we are here for you.
            </h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> One touch to book your services.</li>
              <li><i class="ion-android-checkmark-circle"></i> Get your nearest service station details.</li>
              <li><i class="ion-android-checkmark-circle"></i> Exciting offers and discounts are available here.</li>
            </ul>

          </div>
        </div>

      </div>
    </section>
