    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/our%20team/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>AMAN RAWAT</h4>
                <span>HEAD DESIGNER</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/our%20team/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>ALVERA ANSARI</h4>
                <span>HELPER</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="file:///C:/Users/Administrator/Desktop/ALVERA/src/assets/img/our%20team/team-3.jpg" alt=""></div>
              <div class="details">
                <h4>AYUSH GUPTA</h4>
                <span>MANAGER</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->
